.text-gradient-primary {
    /* Define the gradient */
    background-image: linear-gradient(to right, #F21AB6, #E96138);

    /* Set the text color to transparent */
    color: transparent;

    /* Clip the background to the text */
    -webkit-background-clip: text;
    background-clip: text;
    
    /* Ensuring text is displayed */
    -webkit-text-fill-color: transparent; 
}